{% extends 'tribes/base.html' %}
{% load static %}
{% block title %}Tribes{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/tribes.css' %}">
{% endblock %}

{% block content %}

<body id="tribes" class="unselectable">
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'tribes:tribes_index' %}",
                type: "POST",
                data: {
                    'value': $("#sortBy option:selected").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                cache: false,
                dataType: "json",
                success: function (data) {
                    let isInUsers;
                    var user = "{{ request.user }}";
                    var tribe = jQuery.parseJSON(data);
                    var num_of_tribes = data[data.length - 2];
                    if (num_of_tribes == 0) {
                        $("#allTribes").html(
                            "<div class=\"col-md-12 my-3 p-3\">" +
                            "<h3>There is currently no published tribes...</h3>" +
                            "</div>");
                    } else {
                        for (i = 0; i < num_of_tribes; i++) {
                            for (j = 0; j < tribe[i]["numOfMembers"]; j++) if (user == tribe[i]["members"][j]["username"]) isInUsers = true;
                            $("#allTribes").append(
                                "<div class='col-2 mx-auto my-3'>" +
                                "<div class='card text-white'>" +
                                "<div class='row g-0'>" +
                                "<div class='card-header'>" +
                                "<img src='" + tribe[i]["logo"] + "' class='my-3 img-fluid card-image' alt=''>" +
                                "<h4 class='card-title'>" + tribe[i]["name"] + "</h4>" +
                                "<a href='' class='btn btn-outline-light mb-3'><i class='fa-solid fa-crown'></i>&nbsp;" + tribe[i]["chieftain"] + "</a>" +
                                "</div>" +
                                "<div class='card-body'>" +
                                "<div class='row mb-2'>" +
                                "<div class='col-4 mb-3 text-center'>" +
                                "<i class='fa-solid fa-users'></i>&nbsp;" + tribe[i]["numOfMembers"] +
                                "</div>" +
                                "<div class='col-8 mb-3 text-center'>" +
                                "<i class='fa-solid fa-drum'></i>&nbsp;" + tribe[i]["genre"] +
                                "</div>" +
                                "<div class='col-12 text-center'>" +
                                "<a href='' id='" + tribe[i]["id"] + "' class='btn btn-outline-light w-75'></a>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "<div class='card-footer mx-auto'>" +
                                "<i class='fa-solid fa-calendar-days'></i>&nbsp;" + tribe[i]["created_at"] +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>"
                            );
                            $("#" + tribe[i]["id"]).html(isInUsers ? "<i class='fa-solid fa-door-open'></i>&nbsp;Leave" : "<i class='fa-solid fa-door-closed'></i>&nbsp;Join");

                            $("#" + tribe[i]["id"]).click(function () {
                                $.ajax({
                                    url: "{% url 'tribes:tribe_membership' %}",
                                    type: "POST",
                                    data: {
                                        "id": $(this).attr("id"),
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                    },
                                    cache: false,
                                    dataType: "json",
                                    success: function (e) {
                                        isInUsers = !isInUsers;
                                        if (isInUsers) $(this).html("<i class='fa-solid fa-door-open'></i>&nbsp;Leave");
                                        else $(this).html("<i class='fa-solid fa-door-closed'></i>&nbsp;Join");
                                    }
                                });
                            });
                        }
                    }
                },
                fail: function () { },
                error: function (data) {
                    console.log("ERROR");
                    console.log(data);
                }
            });
        });
    </script>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12 mx-auto">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h1 class="text-white">Tribes</h1>
                    </div>
                    <div class="col-3">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="sortBy" style="border-top-left-radius: 2rem; border-bottom-left-radius: 2rem;">Sort by:</label>
                            <select name="sortby" class="form-select" id="sortBy" style="border-top-right-radius: 2rem; border-bottom-right-radius: 2rem;">
                                <option class="sbopt" value="1" selected>Default</option>
                                <option class="sbopt" value="2">Name ascending</option>
                                <option class="sbopt" value="3">Name descending</option>
                                <option class="sbopt" value="4">Most users</option>
                                <option class="sbopt" value="5">Least users</option>
                            </select>
                        </div>
                    </div>
                </div>
                <script>
                    $("#sortBy").on("change", function () {
                        $.ajax({
                            url: "{% url 'tribes:tribes_index' %}",
                            type: "POST",
                            data: {
                                'value': $("#sortBy option:selected").val(),
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            cache: false,
                            dataType: "json",
                            success: function (data) {
                                var num_of_posts = data[data.length - 2];
                                var post = jQuery.parseJSON(data);
                                if (num_of_posts == 0) {
                                    $("#allTribes").html(
                                        "<div class=\"col-md-12 my-3 p-3\">" +
                                        "<h3>There is currently no Tribes.</h3>" +
                                        "</div>");
                                } else {
                                    $("#allTribes").html("");
                                    for (i = 0; i < num_of_posts; i++) {
                                        $("#allTribes").append(
                                            "<div class='col-3 mx-auto my-3'>" +
                                            "<div class='card'>" +
                                            "<div class='row g-0'>" +
                                            "<div class='col-md-4'>" +
                                            "<img src='" + post[i]["logo"] + "' class='img-fluid card-image rounded-start' alt=''>" +
                                            "</div>" +
                                            "<div class='col-md-8'>" +
                                            "<div class='card-body'>" +
                                            "<h5 class='card-title'>" + post[i]["name"] + "</h5>" +
                                            "<p class='small'>Chieftain: " + post[i]["chieftain"] + "</p>" +
                                            "<hr>" +
                                            "<p class='card-text small'>" + post[i]['genre'] + "</p>" +
                                            "<p class='card-text small'>Members: [" + post[i]['members'] + "]</p>" +
                                            "<p class='card-text'><small class='text-muted'>Created: " + post[i]['created_at'] + "</small></p>" +
                                            "</div>" +
                                            "</div>" +
                                            "</div>" +
                                            "</div>" +
                                            "</div>"
                                        )
                                    }
                                }
                            },
                            fail: function () { },
                            error: function (data) {
                                console.log("ERROR FROM SELECT");
                            }
                        });
                    });
                </script>
            </div>
        </div>

        <div class="row" id="allTribes"></div>
    </div>
    {% block footer %}{% endblock %}
</body>
{% endblock content %}