* {
    font-family: Georgia, Times, Times New Roman, serif;
    letter-spacing: 0.12em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #232526, #414345);
}

.btn {
    border-radius: 2rem;
    transition: all .5s ease-in-out !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease;
}

.footer:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    border-radius: 2rem !important;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}