body#tribes {
    background: #475d62 url('../assets/tribesBg.jpg') no-repeat center center fixed;
}

body#tribes {
    background-size: cover;
    text-align: center;
    height: 100vh !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    /* background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B); */
    background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
    opacity: 0.8;
    transition: all 0.5s ease;
    border: none;
    border-radius: 2rem;
}

.card-link {
    text-decoration: none;
    color: rgba(155, 155, 255, 0.8);
    transition: all 0.5s ease;
}

.card-link:hover, .card-link:active {
    color: rgba(155, 155, 255, 1);
}

.card:hover {
    opacity: 1;
}

.card-image {
    border: 1px solid darkblue;
    border-radius: 2rem;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.5s ease;
}

.card-image:hover {
    transform: scale(1.05);
}