<div class="container-fluid row py-5 text-white text-center">
    <div class="col-6">
        <h5 class="my-2">Aleksić Ivan [Frontend]</h5>
        <a href="" target="_blank" class="btn btn-outline-light mx-1 my-3">
            <i class="fa-brands fa-github"></i>&nbsp;GitHub Repository
        </a>
        <button class="btn btn-outline-light mx-1 my-3" data-bs-toggle="modal" data-bs-target="#ivanTechnologies">
            <i class="fa-solid fa-toolbox"></i>&nbsp;Technologies
        </button>
    </div>
    <div class="col-6">
        <h5 class="my-2">Majdandžić David [Backend]</h5>
        <a href="https://github.com/PhatDave" target="_blank" class="btn btn-outline-light mx-1 my-3">
            <i class="fa-brands fa-github"></i>&nbsp;@PhatDave
        </a>
        <button class="btn btn-outline-light mx-1 my-3" data-bs-toggle="modal" data-bs-target="#davidTechnologies">
            <i class="fa-solid fa-toolbox"></i>&nbsp;Technologies
        </button>
    </div>
</div>

<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Aleksić Ivan, Majdandžić David
</div>

<div class="modal fade" id="ivanTechnologies" tabindex="-1" aria-labelledby="ivanTechnologiesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content row">
            <div class="col-12 text-center">
                <h4 class="mt-4 d-inline-block">Aleksić Ivan</h4>
                <p class="mb-4 small text-white-50">[Frontend]</p>
                <hr>
            </div>
            <div class="col-12 text-start">
                <ul>
                    <li>Bootstrap 5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                </ul>
                <hr>
            </div>
            <div class="col-12 text-center mt-2 mb-3">
                <p class="text-white-50" data-bs-dismiss="modal" style="cursor: pointer;">Click me or click outside to close.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="davidTechnologies" tabindex="-1" aria-labelledby="davidTechnologiesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content row">
            <div class="col-12 text-center">
                <h4 class="mt-4 d-inline-block">Majdandžić David</h4>
                <p class="mb-4 small text-white-50">[Backend]</p>
                <hr>
            </div>
            <div class="col-12 text-start">
                <ul>
                    <li>Django</li>
                </ul>
                <hr>
            </div>
            <div class="col-12 text-center mt-2 mb-3">
                <p class="text-white-50" data-bs-dismiss="modal" style="cursor: pointer;">Click me or click outside to close.</p>
            </div>
        </div>
    </div>
</div>