<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="{% url 'tribes:index' %}" class="nav-link {% if nav == 'index' %}active{% endif %}">
                    <i class="fa-solid fa-tent"></i>&nbsp;Home
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'tribes:tribes_index' %}" class="nav-link {% if nav == 'tribes' %}active{% endif %}">
                    <i class="fa-solid fa-tents"></i>&nbsp;Tribes
                </a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'user:login' %}" class="nav-link {% if nav == 'login' %}active{% endif %}">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Login
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user:register' %}" class="nav-link {% if nav == 'register' %}active{% endif %}">
                    <i class="fa-solid fa-user-plus"></i>&nbsp;Sign Up
                </a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropDOwn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>&nbsp;{{ request.user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="userDropDOwn">
                    <a href="#" class="dropdown-item">
                        <i class="fa-solid fa-house-user"></i>&nbsp;Profile
                    </a>
                    <a href="{% url 'user:logout' %}" class="dropdown-item">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Log Out
                    </a>
                    {% if request.user.is_superuser %}
                    <hr class="dropdown-divider">
                    <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">
                        <i class="fa-solid fa-user-gear"></i>&nbsp;Django Panel
                    </a>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div>